<div class="row navbar">
    <div class="col-md">
        <a href="/"><i class="fa-solid fa-house"></i> Главная</a>
    </div>
    <div class="col-md">
        <a href="#content"><i class="fa-solid fa-magnifying-glass"></i> Найти лавочку рядом</a>
    </div>

    {% if user.is_authenticated %}
        <div class="col-md">
            <a href="/add_form"><i class="fa-solid fa-circle-plus"></i> Добавить лавочку </a>
        </div>
    {% endif %} 
    
    <div class="col-md">
        {% if user.is_authenticated %}
            {{ user.get_username }}
            <a href="{% url 'logout'%}">Выйти</a>
        {% else %}
            <p><a href="{% url 'login'%}"><i class="fa-solid fa-user"></i>Войти</a> / <a href="{% url 'signup'%}">Зарегистрироваться</a></p>
        {% endif %} 
    </div>
</div>