<div class="row navbar">
    <div class="col-md">
        <a href="/"><i class="fa-solid fa-house"></i> Главная</a>
    </div>
    <div class="col-md">
        <a href="#content"><i class="fa-solid fa-magnifying-glass"></i> Найти лавочку рядом</a>
    </div>
    <div class="col-md">
        <a href="/add_form"><i class="fa-solid fa-circle-plus"></i> Добавить лавочку </a>
    </div>
    <div class="col-md">
        {% if user.is_authenticated %}
            {{ user.get_username }}
            <a href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
        {% else %}
            <a href="{% url 'login'%}?next={{request.path}}"><i class="fa-solid fa-user"></i>Войти/Зарегистрироваться</a>
        {% endif %} 
    </div>
</div>