{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    {% include 'el/header.html' %}


    <div class="container" id="content">
        {% include 'el/navbar.html' %}
        
        <hr>
        <h1>Сброс пароля</h1>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Сбросить пароль</button>
        </form>

    </div>

    {% include 'el/footer.html' %}
{% endblock %}