

{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    {% include 'el/header.html' %}


    <div class="container" id="content">
        {% include 'el/navbar.html' %}

        <hr>
        <h2>Регистрация</h2>

        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Регистрация</button>

        </form>

    </div>

    {% include 'el/footer.html' %}
{% endblock %}