{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
{% include 'el/header.html' %}

<div class="container" id="content">
    {% include 'el/navbar.html' %}

    {% if is_anser %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Ошибка добавление лавочки проверте форму. 
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                Лавочка успешно отправлена на проверку модератером. 
            </div>
        {% endif %}
    {% endif %}

    <form action="" method="post" id="add-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Добавление лавочки</h2>
        <hr>

        <div class="form-group map_point_input" id="map">
        </div>

        <div class="row">

            <div class="col">
                <label for="">Координаты лавочки : <i class="req">*</i></label>
            </div>
            <div class="col">
                <input class="form-control" type="text" id="input_x" name="x" readonly required>
            </div>
            <div class="col">
                <input class="form-control" type="text" id="input_y" name="y" readonly required>
            </div>
        </div>

        <div class="form-group">
            <label for="obj-disc">Описание лавочки : <i class="req">*</i></label>
            <textarea name="disc" class="form-control" id="" cols="30" rows="10" required></textarea>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="row form-group">
                    <div class="col-md">
                        <label for="obj-disc">Лавочка находится возле подъезда : </label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_padik" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">Да</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_padik" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">Нет</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_padik" id="inlineRadio3" value="0">
                            <label class="form-check-label" for="inlineRadio3">Незнаю</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row form-group">
                    <div class="col">
                        <label for="obj-disc">Лавочка находится в тени : </label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_ten" id="inlineRadio4" value="1">
                            <label class="form-check-label" for="inlineRadio4">Да</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_ten" id="inlineRadio5" value="2">
                            <label class="form-check-label" for="inlineRadio5">Нет</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_ten" id="inlineRadio6" value="3">
                            <label class="form-check-label" for="inlineRadio6">Незнаю</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="col">
                <div class="row form-group">
                    <div class="col-md">
                        <label for="obj-disc"> Выберите активность возле лавочки : <i class="req">*</i></label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="active" id="inlineRadio7" value="1"
                                required>
                            <label class="form-check-label" for="inlineRadio7">
                                <i class="fa-solid fa-fire fa-color-a"></i>
                                <i class="fa-solid fa-fire fa-color-d"></i>
                                <i class="fa-solid fa-fire fa-color-d"></i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="active" id="inlineRadio8" value="2"
                                required>
                            <label class="form-check-label" for="inlineRadio8">
                                <i class="fa-solid fa-fire fa-color-a"></i>
                                <i class="fa-solid fa-fire fa-color-a"></i>
                                <i class="fa-solid fa-fire fa-color-d"></i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="active" id="inlineRadio9" value="3"
                                required>
                            <label class="form-check-label" for="inlineRadio9">
                                <i class="fa-solid fa-fire fa-color-a"></i>
                                <i class="fa-solid fa-fire fa-color-a"></i>
                                <i class="fa-solid fa-fire fa-color-a"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row form-group">
                    <div class="col">
                        <label for="obj-disc">Ваша оценка лавочки: <i class="req">*</i></label>
                        <br>
                        <select class="form-control" name="rating" id="" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="" for="">Выберите фотографии лавочи : <i class="req">*</i></label>
            <div class="custom-file">
                <input type="file" name="files" class="custom-file-input" id="customFile" multiple required>
                <label class="custom-file-label" for="customFile" data-browse="Выбрать файл">.jpeg/.png</label>
            </div>
        </div>

        <div class="form-group">
            <small><i class="req">*</i> - Обязательные для заполнения поля</small>
        </div>



        <input type="submit" class="btn btn-primary" value="Добавить лавочку">
    </form>
</div>

{% include 'el/footer.html' %}
{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=49612769-c3fb-4f04-9af4-4bc936b52525"
    type="text/javascript"></script>
<script>
    ymaps.ready(init);
    var myMap;

    var x;
    var y;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [53.902284, 27.561831],
            zoom: 11
        }, {
            balloonMaxWidth: 200,
            searchControlProvider: 'yandex#search'
        });

        // Обработка события, возникающего при щелчке
        // левой кнопкой мыши в любой точке карты.
        // При возникновении такого события откроем балун.
        myMap.events.add('click', function (e) {

            var in_x = document.getElementById('input_x');
            var in_y = document.getElementById('input_y');

            if (!myMap.balloon.isOpen()) {
                var coords = e.get('coords');
                myMap.balloon.open(coords, {
                    contentHeader: 'Лавочка',
                    contentBody:
                        '<p>Координаты лавочки: ' + [
                            coords[0].toPrecision(6),
                            coords[1].toPrecision(6)
                        ].join(', ') + '</p>',
                    contentFooter: '<sup>Щелкните еще раз что бы поменять координаты</sup>'
                });
                in_x.value = coords[0].toPrecision(6);
                in_y.value = coords[1].toPrecision(6);
            }
            else {
                myMap.balloon.close();
                var coords = e.get('coords');
                myMap.balloon.open(coords, {
                    contentHeader: 'Лавочка',
                    contentBody:
                        '<p>Координаты лавочки: ' + [
                            coords[0].toPrecision(6),
                            coords[1].toPrecision(6)
                        ].join(', ') + '</p>',
                    contentFooter: '<sup>Щелкните еще раз что бы поменять координаты</sup>'
                });
                in_x.value = coords[0].toPrecision(6);
                in_y.value = coords[1].toPrecision(6);
            }
        });

        // Обработка события, возникающего при щелчке
        // правой кнопки мыши в любой точке карты.
        // При возникновении такого события покажем всплывающую подсказку
        // в точке щелчка.
        myMap.events.add('contextmenu', function (e) {
            myMap.hint.open(e.get('coords'), 'Кто-то щелкнул правой кнопкой');
        });

        // Скрываем хинт при открытии балуна.
        myMap.events.add('balloonopen', function (e) {
            myMap.hint.close();
        });
    }
</script>
{% endblock %}